/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 0;
}


.card {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  color: black;
}

/* You can add more styles based on your specific requirements */
